----------------IncubateIND Covid19 Hackathon------------------

Proposed Solution:
Generation and using GeoTagging for the detection of Covid-19 Fake News from Twitter Data of HOTSPOT States using Deep Learning Framework

Approach:
The proposed solution generates the geotag of the most affected states by means of the timely synchronized and filtered data set collected from trusted government source. Then on the basis of most affected regions, filter the twitter data of Covid-19 and detect the fake news using Gated recurrent unit (GRU) deep learning algorithm. 

Project Content Directories:
1. Covid19_GRU Twitter Fake News Prediction.ipynb : Jupyter Notebook file for the generation of the map of HOTSPOT States of India on the basis of Real-Time Synchornized Covid-19 data, taken from https://www.mohfw.gov.in/ and on the basis of it, detecting the FAKE NEWS from the Covid-19 Twitter Data Set taken from https://ieee-dataport.org/open-access/corona-virus-covid-19-tweets-dataset. 
Gated recurrent unit (GRU) deep learning algorithm has been implemented to train and test the Covid-19 Tweeter Dataset
3. Indian_States(.shp,.prj,.shx,dbf) files: GIS Map files, responsible for CANVAS drawing of Indian Map containing various Indian States
4. Covid19_Statistics_Statewise.png: Image file displaying the result of running the Covid19_GeoMap.ipynb file, contains the Covid19_Statistics_Statewise Geo Tagged HOTSPOT states
5. Covid19_GRU Twitter Fake News Prediction.jpg: Image file displaying the accuracy of our Gated recurrent unit (GRU) deep learning algorithm for the training of Covid-19 Twitter Data Set i.e. 75.51 % for the detection of Fake News
6. Covid_Train.csv and Covid_Test.csv: Represents Covid-19 Twitter Sample Data Sets used for Training and Testing respectively.
7. Covid_Test_Fake News.csv: Labelled test data output generated by training algorithm, in which Fake News with 0 and Authentic News with 1 for each Twitter ID


Hosting of Project:
It is strongly suggested that the mentioned Jupyter Notebook files Covid19_GeoMap.ipynb and Covid19_GRU_Prediction.ipynb should be hosted on Google Colab Platform (https://colab.research.google.com/) with resolved Python APIs dependencies i.e.
a. HTTP web scraper
b. GeoPandas
c. Matplotlib and Seaborn
d. Online GIS Mapping
e. TensorFlow and Keras
f. SkLearn

