<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <title>Father's need top priority - single page</title>
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!--enable mobile device-->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!--fontawesome css-->
      <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css')}}">
      <!--bootstrap css-->
      <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">
      <!--animate css-->
      <link rel="stylesheet" href="{{ url_for('static', filename='css/animate-wow.css')}}">
      <!--main css-->
      <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-select.min.css')}}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/slick.min.css')}}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/select2.min.css')}}">
      <!--responsive css-->
      <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css')}}">
   </head>
   <body>
      <div class="product-page-main">
         <div class="container">
            <div class="row">
               <div class="col-md-2 col-sm-4">
               </div>
               <div class="col-md-8 col-sm-8">
                  <div class="md-prod-page">
                     <div class="md-prod-page-in">
                        <div class="page-preview">
                           <img src="{{ url_for('static', filename='images/product/13.jpg')}}">
                        </div>
                        <div class="btn-dit-list clearfix">
                           <div class="left-dit-p">
                              <div class="prod-btn">
                                 <a href="#"><i class="fa fa-star" aria-hidden="true"></i> Save to wishlist</a>
                                 <a href="#"><i class="fa fa-thumbs-up" aria-hidden="true"></i> Like this</a>
                                 <p>23 likes</p>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="description-box">
                        <div class="dex-a">
                           <h4>Description</h4>
                           <p>The Uday Foundation works on health, support and dignity to homeless and disaster relief. The current Coronavirus (Covid-19) outbreak continues to spread, making lakhs of homeless living on the streets with lack of ability to self- quarantine, access to medical care acutely vulnerable.

                           </p>
                            <p>Uday Foundation is providing all necessary help and services to this vulnerable section of the society in the time of crisis by accepting donation material such as soap for hand wash, sanitizers and one month's food supply to distrubute.</p>
                            <p>Every year, lacs of people come to New Delhi, Capital of India for various reasons, some for seeking jobs, some for education, many others for treatment from diseases. Due to absence of medical facilities, specialty hospitals & doctors in major parts of India, there is a large section of underprivileged population, who come to the capital for getting treatments either for themselves or their family members.</p>
                            <p>These groups of people seek treatments in government hospitals. Apart from various challenges they face in their struggle to get medical treatment such as long dates for various diagnostic tests & procedures, expensive medicines and other treatments, the most difficult challenge they face is to get their basic needs met in the capital city of India –food, clothing and shelter.</p>
                            <p>Without sufficient money and help, these helpless people are forced to live in open, making themselves vulnerable to attacks by seasonal diseases, bacteria and virus. This situation worsens during the harsh weather conditions, especially in chilling winters and peak summers. The only option to avoid such a situation is to make these amenities available to them.</p>
                            <p>It is here- to help them meet these basic needs and to give them dignity that we come into picture. Through my grass root non-profit organization, Uday Foundation, I have taken it as a major challenge to save these people from such unavoidable circumstances by initiating various social drives where we provide food, clothes, sanitary napkins and other items for daily requirements.</p>
                            <p>We encourage people to contribute by making a small in-kind donation as I feel contribution towards this cause not only give them immense satisfaction but it also connects them with Indian culture where donating food, clothes & water is termed to be a very noble gesture.</p>
                            <p>Since I spent years inside and outside hospitals during the medical treatment of my son, I realized that there are a number of organizations working in the area of health but nobody was concerned about the caregivers. Due to harsh circumstances these caregivers are forced to live on footpaths away from their home and family.</p>
                            <p>I realized that apart from a good medical treatment, they also need a dignified living while treatment of their loved one continues – these include safe and hygienic place to live, meals to eat, clean drinking water etc.</p><br><br>
                             <a href="/ask_for_help">
                <center><button style="color: white;background-color: #007bff;padding: 10px 15px;border: none; border-radius: 20px">Request Services</button></a>
                    <a href = "payment"><button style="color: white;background-color: #007bff;padding: 10px 15px;border: none; border-radius: 20px">Donate</button></center></a>
                     </div>
<br><br><br><br>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!--main js-->
      <script src="{{ url_for('static', filename='js/jquery-1.12.4.min.js')}}"></script>
      <!--bootstrap js-->
      <script src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>
      <script src="{{ url_for('static', filename='js/bootstrap-select.min.js')}}"></script>
      <script src="{{ url_for('static', filename='js/slick.min.js')}}"></script>
      <script src="{{ url_for('static', filename='js/select2.full.min.js')}}"></script>
      <script src="{{ url_for('static', filename='js/wow.min.js')}}"></script>
      <!--custom js-->
      <script src="{{ url_for('static', filename='js/custom.js')}}"></script>
   </body>
</html>