<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <title>Father's need top priority - single page</title>
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!--enable mobile device-->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!--fontawesome css-->
      <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css')}}">
      <!--bootstrap css-->
      <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">
      <!--animate css-->
      <link rel="stylesheet" href="{{ url_for('static', filename='css/animate-wow.css')}}">
      <!--main css-->
      <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-select.min.css')}}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/slick.min.css')}}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/select2.min.css')}}">
      <!--responsive css-->
      <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css')}}">
   </head>
   <body>
      <div class="product-page-main">
         <div class="container">
            <div class="row">
               <div class="col-md-2 col-sm-4">
               </div>
               <div class="col-md-8 col-sm-8">
                  <div class="md-prod-page">
                     <div class="md-prod-page-in">
                        <div class="page-preview">
                           <img src="{{ url_for('static', filename='images/product/102.jpg')}}">
                        </div>
                        <div class="btn-dit-list clearfix">
                           <div class="left-dit-p">
                              <div class="prod-btn">
                                 <a href="#"><i class="fa fa-star" aria-hidden="true"></i> Save to wishlist</a>
                                 <a href="#"><i class="fa fa-thumbs-up" aria-hidden="true"></i> Like this</a>
                                 <p>23 likes</p>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="description-box">
                        <div class="dex-a">
                           <h4>Description</h4>
                           <p>Sharnarthi Sewa- An Organization Helping Hand Always Ready To Serve The Needy

                           </p>
                            <p>Sharnarthi Sewa is a Non-Government Organization which is founded by Mr. Purshottam Sharma and led by the team of professionals as well as individual volunteers who are working strenuously in coordination with each other to realize the big dream of bringing conspicuous changes in the society especially in the areas concerning health, education, children development and women empowerment. Other than these areas, Sharnarthi Sewa aims at providing shelter to the destitute and thinking as well as working actively towards complete social welfare.</p>
                            <p>The organization is rightly based on humanity. It strongly opposes social inequality of every kind and works without backing any particular caste, creed or religion. It is continuously seeking to develop a full force of such people who have got the streak to serve needy and helpless. It welcomes the volunteers who believe in equality and want to contribute to the welfare of community. Joining hands for such cause would eventually turn the society to a paradise to reside in.</p>
                            <p>Sharnarthi Sewa nurtures with pure conscience a vision for how a good society should be like. It envisages India that is free from all social evils like poverty, child labor, diseases, social inequality, and so on. The Organization also wants to set up a permanent shelter for sick as well as destitute.</p>
                            <p>The Organization definitely works with a clear mission and that is to bring all the good and helping souls together that can collectively work towards improvement of overall quality of life of underprivileged people by making use of all the available resources in a proper way. It has always been a constant effort of the NGO to keep its commitment and work assiduously towards realizing its set objectives.</p>
                            <p>Sharnarthi Sewa vouches for its credibility as well as accountability that can be easily observed with the way it promotes the principles of efficient governance in processes as well as practices. The Organization proceeds with complete transparency as far as its funds utilization and investment is concerned. The managing team keeps supervising and evaluating time to time all the events and projects being undertaken by the organization for the welfare of society.</p>
                            <p>The Organization depends upon funds raised by Government and cooperation with and thrives at its generous individual contributors and donors. Furthermore, the complete report regarding the use of total donations received is always maintained by the organization that attests for its credibility.</p>
                            <p>A lot of children today are trapped under vicious cycle of poverty and illness and thus are reduced to lead miserable lives. They are fighting a never ending battle to survive on this earth. Likewise, women are suffering today from humiliation, disrespect, exploitation in their homes, offices and by whole society and other such evils. Old aged people are also being dispelled out of their houses and are made to reside on roads. All these socially deprived people do call for strong hands that could be laid upon them to assure them that yes, they can, and have the right, to live- to live gracefully.</p>
                            <p>Remember spending only 10% of your extra time for a good cause can give you immense happiness and a huge pile of blessings. Let’s make the more vulnerable citizens of society i.e., children, women, penurious, old as well as sick, feel safer and stronger. We together can light the lamps of hope in their lives. We can bring positive changes in the society that would last simply forever.</p><br><br>
                             <a href="/ask_for_help">
                <center><button style="color: white;background-color: #007bff;padding: 10px 15px;border: none; border-radius: 20px">Request Services</button></a>
                    <a href = "payment"><button style="color: white;background-color: #007bff;padding: 10px 15px;border: none; border-radius: 20px">Donate</button></center></a>
                     </div>
<br><br><br><br>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!--main js-->
      <script src="{{ url_for('static', filename='js/jquery-1.12.4.min.js')}}"></script>
      <!--bootstrap js-->
      <script src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>
      <script src="{{ url_for('static', filename='js/bootstrap-select.min.js')}}"></script>
      <script src="{{ url_for('static', filename='js/slick.min.js')}}"></script>
      <script src="{{ url_for('static', filename='js/select2.full.min.js')}}"></script>
      <script src="{{ url_for('static', filename='js/wow.min.js')}}"></script>
      <!--custom js-->
      <script src="{{ url_for('static', filename='js/custom.js')}}"></script>
   </body>
</html>