<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <title>Father's need top priority - single page</title>
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!--enable mobile device-->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!--fontawesome css-->
      <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css')}}">
      <!--bootstrap css-->
      <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">
      <!--animate css-->
      <link rel="stylesheet" href="{{ url_for('static', filename='css/animate-wow.css')}}">
      <!--main css-->
      <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-select.min.css')}}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/slick.min.css')}}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/select2.min.css')}}">
      <!--responsive css-->
      <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css')}}">
   </head>
   <body>
      <div class="product-page-main">
         <div class="container">
            <div class="row">
               <div class="col-md-2 col-sm-4">
               </div>
               <div class="col-md-8 col-sm-8">
                  <div class="md-prod-page">
                     <div class="md-prod-page-in">
                        <div class="page-preview">
                           <img src="{{ url_for('static', filename='images/product/2.jpg')}}">
                        </div>
                        <div class="btn-dit-list clearfix">
                           <div class="left-dit-p">
                              <div class="prod-btn">
                                 <a href="#"><i class="fa fa-star" aria-hidden="true"></i> Save to wishlist</a>
                                 <a href="#"><i class="fa fa-thumbs-up" aria-hidden="true"></i> Like this</a>
                                 <p>23 likes</p>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="description-box">
                        <div class="dex-a">
                           <h4>Description</h4>
                           <p>Feed the Hungry!!– a Youth Feed India & SAFA initiative in association with COVID 19 Food Security Group.

                           </p>
                            <p>“The war against hunger is truly mankind’s war of liberation.” There can be no better time to reflect on these words by John F Kennedy. COVID-19 has shattered several million lives in no time. While the doctors fight their war against the virus, it is the responsibility of the ‘COMMON MAN’ to fight the war against ‘HUNGER’</p>
                            <p>This campaign has been created by the COVID-19 FOOD SECURITY GROUP – a team comprising of several IIMB Alumni, experts in the food space, people from NGOs, Bulk Kitchens, large and small organizations across the country to fight the war against hunger!!</p>
                            <p>Youth Feed India is a movement started by a group of young informed citizens from the private sector in partnership with the SAFA Society, a society doing positive work for the past two decades in India. They have been doing an extraordinary job for the past 10 days, to feed the HUNGRY across Hyderabad, Bangalore, Chennai, Delhi, Gurgaon, Mumbai & North Karnataka!! This campaign by our team has been created to appreciate their efforts and support them in any which way possible.</p>
                            <p>Objective:</p>
                            <p>To distribute essential kits that would last a family for a week. Each packet costs 500-550 including packaging</p>
                            <p>Success Story :
Phase 1: Completed distribution of 2,80,000 meal equivalents across Chennai, Hyderabad, North Karnataka and Bangalore with a budget of 25 Lacs
Phase 2: Completed distribution of 5,60,000 meal equivalents across Chennai, Hyderabad, North Karnataka, Banglore, Bombay, Delhi & Gurgaon with a budget of 50 Lacs</p>
                            <p>Current Target :
Phase 3: Targeting distribution of over 25,20,000 meal equivalents across the country with a budget of over 3 Crore. COVID FOOD SECURITY GROUP is looking at supporting this noble initiative by raising funds to the tune of 20 Lacs in 10 days’ time</p>
                            <p>We look forward to your contributions to this noble cause. There can be no better time to stand together, strive together and win together!! Do spread the word!!</p><br><br>
                             <a href="/ask_for_help">
                <center><button style="color: white;background-color: #007bff;padding: 10px 15px;border: none; border-radius: 20px">Request Services</button></a>
                    <a href = "payment"><button style="color: white;background-color: #007bff;padding: 10px 15px;border: none; border-radius: 20px">Donate</button></center></a>
                     </div>
<br><br><br><br>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!--main js-->
      <script src="{{ url_for('static', filename='js/jquery-1.12.4.min.js')}}"></script>
      <!--bootstrap js-->
      <script src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>
      <script src="{{ url_for('static', filename='js/bootstrap-select.min.js')}}"></script>
      <script src="{{ url_for('static', filename='js/slick.min.js')}}"></script>
      <script src="{{ url_for('static', filename='js/select2.full.min.js')}}"></script>
      <script src="{{ url_for('static', filename='js/wow.min.js')}}"></script>
      <!--custom js-->
      <script src="{{ url_for('static', filename='js/custom.js')}}"></script>
   </body>
</html>