<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <title>Father's need top priority - single page</title>
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!--enable mobile device-->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!--fontawesome css-->
      <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css')}}">
      <!--bootstrap css-->
      <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">
      <!--animate css-->
      <link rel="stylesheet" href="{{ url_for('static', filename='css/animate-wow.css')}}">
      <!--main css-->
      <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-select.min.css')}}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/slick.min.css')}}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/select2.min.css')}}">
      <!--responsive css-->
      <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css')}}">
   </head>
   <body>
      <div class="product-page-main">
         <div class="container">
            <div class="row">
               <div class="col-md-2 col-sm-4">
               </div>
               <div class="col-md-8 col-sm-8">
                  <div class="md-prod-page">
                     <div class="md-prod-page-in">
                        <div class="page-preview">
                           <img src="{{ url_for('static', filename='images/product/3.png')}}">
                        </div>
                        <div class="btn-dit-list clearfix">
                           <div class="left-dit-p">
                              <div class="prod-btn">
                                 <a href="#"><i class="fa fa-star" aria-hidden="true"></i> Save to wishlist</a>
                                 <a href="#"><i class="fa fa-thumbs-up" aria-hidden="true"></i> Like this</a>
                                 <p>23 likes</p>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="description-box">
                        <div class="dex-a">
                           <h4>Description</h4>
                           <p>The Akshaya Patra Foundation, in close coordination with State Governments and District Administration, has stepped in to provide relief by providing food to thousands of people across the country.

                           </p>
                            <p>Since the COVID-19 crisis, The Akshaya Patra Foundation, in close coordination with State Governments and District Administration, has stepped in to provide relief by providing food to thousands of people across the country. By adhering to all safety and hygiene measures, Akshaya Patra has begun its relief service by providing meal or dry ration support to people in Rajasthan, Gujarat, NCR, Uttar Pradesh, Karnataka, Haryana, Maharashtra, Chhattisgarh and Odisha. Till date 7,95,614 cooked meals have been served and 5,104 grocery kits have been delivered.</p>
                            <p>The Akshaya Patra Foundation is an NGO in India headquartered in Bengaluru. The organisation strives to eliminate classroom hunger by implementing the Mid-Day Meal Scheme in the government schools and government-aided schools. Alongside, Akshaya Patra also aims at countering malnutrition and supporting the right to education of socio-economically disadvantaged children. Akshaya Patra is the world’s largest (not-for-profit run) Mid-Day Meal Programme serving wholesome food every school day to over 1.8 million children from 19,039 schools across 12 states and 2 Union territories of India.</p>
                            <p>Since 2000, Akshaya Patra has been concerting all its efforts towards providing fresh and nutritious meals to children on every single school day. We are continuously leveraging technology to multiply our reach. The state-of-the-art kitchens have become a subject of study and have attracted curious visitors from around the world.</p>
                            <p>Our partnership with the Government of India and various State Governments, along with the persistent support from corporates, individual donors, and well-wishers have helped us to grow from serving just 1,500 children in 5 schools in 2000 to serving 1.8 million children.</p>
                            <p>Today, Akshaya Patra is the world’s largest (not-for-profit run) Mid-Day Meal Programme serving wholesome food every school day to over 1.8 million children from 19,039 schools across 12 states & 2 Union territories of India.</p>
                            <p>On 28 November 2001, the Supreme Court of India passed a mandate, "Cooked mid-day meal is to be provided in all the Government and Government-aided primary schools in all the states." And, Akshaya Patra was also called upon to provide testimonies to the Supreme Court.</p>
                            <p>By the time the Ministry of Human Resource Development - Department of School Health and Education extended its support to the initiative in 2003, Akshaya Patra was already reaching out to 23,000 children.</p>
                            <p>Today, Akshaya Patra has 52 kitchens spread across 12 states & 2 Union territories of India, a result of the successful partnership with the Government of India, various State Governments and generous supporters.</p><br><br>
                             <a href="/ask_for_help">
                <center><button style="color: white;background-color: #007bff;padding: 10px 15px;border: none; border-radius: 20px">Request Services</button></a>
                    <a href = "payment"><button style="color: white;background-color: #007bff;padding: 10px 15px;border: none; border-radius: 20px">Donate</button></center></a>
                     </div>
<br><br><br><br>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!--main js-->
      <script src="{{ url_for('static', filename='js/jquery-1.12.4.min.js')}}"></script>
      <!--bootstrap js-->
      <script src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>
      <script src="{{ url_for('static', filename='js/bootstrap-select.min.js')}}"></script>
      <script src="{{ url_for('static', filename='js/slick.min.js')}}"></script>
      <script src="{{ url_for('static', filename='js/select2.full.min.js')}}"></script>
      <script src="{{ url_for('static', filename='js/wow.min.js')}}"></script>
      <!--custom js-->
      <script src="{{ url_for('static', filename='js/custom.js')}}"></script>
   </body>
</html>