<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <title>Father's need top priority - single page</title>
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!--enable mobile device-->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!--fontawesome css-->
      <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css')}}">
      <!--bootstrap css-->
      <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">
      <!--animate css-->
      <link rel="stylesheet" href="{{ url_for('static', filename='css/animate-wow.css')}}">
      <!--main css-->
      <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-select.min.css')}}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/slick.min.css')}}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/select2.min.css')}}">
      <!--responsive css-->
      <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css')}}">
   </head>
   <body>
      <div class="product-page-main">
         <div class="container">
            <div class="row">
               <div class="col-md-2 col-sm-4">
               </div>
               <div class="col-md-8 col-sm-8">
                  <div class="md-prod-page">
                     <div class="md-prod-page-in">
                        <div class="page-preview">
                           <img src="{{ url_for('static', filename='images/product/10.jpg')}}">
                        </div>
                        <div class="btn-dit-list clearfix">
                           <div class="left-dit-p">
                              <div class="prod-btn">
                                 <a href="#"><i class="fa fa-star" aria-hidden="true"></i> Save to wishlist</a>
                                 <a href="#"><i class="fa fa-thumbs-up" aria-hidden="true"></i> Like this</a>
                                 <p>23 likes</p>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="description-box">
                        <div class="dex-a">
                           <h4>Description</h4>
                           <p><!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <title>Father's need top priority - single page</title>
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!--enable mobile device-->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!--fontawesome css-->
      <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css')}}">
      <!--bootstrap css-->
      <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">
      <!--animate css-->
      <link rel="stylesheet" href="{{ url_for('static', filename='css/animate-wow.css')}}">
      <!--main css-->
      <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-select.min.css')}}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/slick.min.css')}}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/select2.min.css')}}">
      <!--responsive css-->
      <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css')}}">
   </head>
   <body>
      <div class="product-page-main">
         <div class="container">
            <div class="row">
               <div class="col-md-2 col-sm-4">
               </div>
               <div class="col-md-8 col-sm-8">
                  <div class="md-prod-page">
                     <div class="md-prod-page-in">
                        <div class="page-preview">
                           <h1>Add blog image here</h1>
                        </div>
                        <div class="btn-dit-list clearfix">
                           <div class="left-dit-p">
                              <div class="prod-btn">
                                 <a href="#"><i class="fa fa-star" aria-hidden="true"></i> Save to wishlist</a>
                                 <a href="#"><i class="fa fa-thumbs-up" aria-hidden="true"></i> Like this</a>
                                 <p>23 likes</p>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="description-box">
                        <div class="dex-a">
                           <h4>Description</h4>
                           <p>MCKS Food for the Hungry Foundation Delhi, is a not for profit organization started in 2005. Infused with Master Choa Kok Sui's teachings, the foundation looks to be the force bringing about the change in and around us. We affect the lives of people in a tangible way; reaching out with food to the hungry and empowering them with skills to move from despair to hope. The energy of change is transformational, not only for the beneficiaries but also, for the donors and volunteers. For what we put into our communities, is what defines our lives and the society we live in.

                           </p>
                            <p>The team visits the adopted slums across Mumbai and has completed a year of feeding the underprivileged kids. Since the COVID-19 outbreak, Khushiyaan has been providing meals to security guards, labourers and daily wage earners around Mumbai, Thane, Airoli and Bhiwandi through Roti Ghar.</p>
                            <p>Khushiyaan, as the name suggests 'Happiness" is committed to delivering Happiness to underprivileged humans of the society & environment. Khushiyaan Foundation is officially registered under the Mumbai Public Trust Act, 1950 & Societies Registration Act, 1860. Khushiyaan Foundation is formed by young team under the leadership of Mr.Chinu Kwatra</p>
                            <p>Through its successfully running projects Roti Ghar, Naari Shakti, Beach Warriors and Project Paathshala it strives to provide quality food, women empowerment and hygiene, cleanliness drives and the gift of education respectively.</p>
                            <p>Khushiyaan foundation can be labeled as an implementing organization which designs and implements various developmental projects.
The overwhelming response and unconditional support of the volunteers have always been our inspiration to make this world a better place than before.</p>
                            <p>Keeping the above mission as our guiding light, our team has a vision of spreading flames of immense happiness to the underprivileged women and kids by helping them to evolve as responsible and able citizens of the present and the future. Along with this, we believe that everyone deserves a clean environment.</p>
                            <p>Our vision is to set an example by cleaning our surroundings, spread awareness and encourage everyone to do their bit in making this world a better place to live.</p>
                            <p>Our prime mission is "INDIA". We relentlessly work towards a developed, healthy, flourishing, clean and prosperous India.</p>
                            <br><br>
                             <div>
                <center><button style="color: white;background-color: #007bff;padding: 10px 15px;border: none; border-radius: 20px">Request Services</button>
                    <button style="color: white;background-color: #007bff;padding: 10px 15px;border: none; border-radius: 20px">Donate</button></center>
                     </div>
<br><br><br><br>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!--main js-->
      <script src="{{ url_for('static', filename='js/jquery-1.12.4.min.js')}}"></script>
      <!--bootstrap js-->
      <script src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>
      <script src="{{ url_for('static', filename='js/bootstrap-select.min.js')}}"></script>
      <script src="{{ url_for('static', filename='js/slick.min.js')}}"></script>
      <script src="{{ url_for('static', filename='js/select2.full.min.js')}}"></script>
      <script src="{{ url_for('static', filename='js/wow.min.js')}}"></script>
      <!--custom js-->
      <script src="{{ url_for('static', filename='js/custom.js')}}"></script>
   </body>
</html>

                           </p>
                            <p>We believe that eradication of hunger is the single most important goal of any civilized society. The foundation has been conducting sustained and highly regularized feeding programs in Delhi and around India.</p>
                            <p>We believe that with your contribution, of a hand full of grain daily, we can feed the world.</p>
                            <p>The EMA campaign which was launched in 2007 is a growing movement today. Traditionally, it was a custom in India to set aside one portion of food or grain to feed a wandering Fakir, Sadhu, Bhikshu or even an animal that came to the doorstep. Ek Muthi Anaaj revisits this concept in a manner that’s relevant and implementable in modern society. We partner with schools, households and corporates to collect grain which is then distributed to Community kitchens.</p>
                            <p>EMA is transformational on many levels. This form of donation is very different from just giving money. This is a very mindful, conscious act of thinking about somebody else’s need before your own. It is as life-altering for the donor as it is for the beneficiary.</p>
                            <p>We provide immediate relief to those affected by natural disasters such as earthquakes, tsunamis, floods etc.</p>
                            <p>We provide primary health care facilities by conducting regular health camps and workshops on health & hygiene.</p>
                            <p>Guided by Master Choa Kok Sui, The MCKS Food for the Hungry Foundation is driven by the singular vision of building a world free from hunger.</p>
                            <p>The MCKS Food for the Hungry Foundation is committed to a mission of 'Giving to Empower' which has a 3 fold impact model: Give food to eradicate hunger, Give education for livelihood, Give opportunities to bring change.</p><br><br>
                             <a href="/ask_for_help">
                <center><button style="color: white;background-color: #007bff;padding: 10px 15px;border: none; border-radius: 20px">Request Services</button></a>
                    <a href = "payment"><button style="color: white;background-color: #007bff;padding: 10px 15px;border: none; border-radius: 20px">Donate</button></center></a>
                     </div>
<br><br><br><br>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!--main js-->
      <script src="{{ url_for('static', filename='js/jquery-1.12.4.min.js')}}"></script>
      <!--bootstrap js-->
      <script src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>
      <script src="{{ url_for('static', filename='js/bootstrap-select.min.js')}}"></script>
      <script src="{{ url_for('static', filename='js/slick.min.js')}}"></script>
      <script src="{{ url_for('static', filename='js/select2.full.min.js')}}"></script>
      <script src="{{ url_for('static', filename='js/wow.min.js')}}"></script>
      <!--custom js-->
      <script src="{{ url_for('static', filename='js/custom.js')}}"></script>
   </body>
</html>