<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <title>Father's need top priority - single page</title>
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!--enable mobile device-->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!--fontawesome css-->
      <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css')}}">
      <!--bootstrap css-->
      <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">
      <!--animate css-->
      <link rel="stylesheet" href="{{ url_for('static', filename='css/animate-wow.css')}}">
      <!--main css-->
      <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-select.min.css')}}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/slick.min.css')}}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/select2.min.css')}}">
      <!--responsive css-->
      <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css')}}">
   </head>
   <body>
      <div class="product-page-main">
         <div class="container">
            <div class="row">
               <div class="col-md-2 col-sm-4">
               </div>
               <div class="col-md-8 col-sm-8">
                  <div class="md-prod-page">
                     <div class="md-prod-page-in">
                        <div class="page-preview">
                           <img src="{{ url_for('static', filename='images/product/12.jpg')}}">
                        </div>
                        <div class="btn-dit-list clearfix">
                           <div class="left-dit-p">
                              <div class="prod-btn">
                                 <a href="#"><i class="fa fa-star" aria-hidden="true"></i> Save to wishlist</a>
                                 <a href="#"><i class="fa fa-thumbs-up" aria-hidden="true"></i> Like this</a>
                                 <p>23 likes</p>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="description-box">
                        <div class="dex-a">
                           <h4>Description</h4>
                           <p>United Way Mumbai is a part of the 130+ year old United Way movement engaged in nearly 1800 communities, spanning 41 countries across the world.

                           </p>
                            <p>Our mission is to improve lives by mobilizing the caring power of communities to advance the common good. We work closely with a network of 400+ NGOs and a large number of corporates for their CSR programmes, workplace giving campaigns and other events. This includes designing of CSR policy and strategies, due diligence of NGO partners, programme implementation, employee volunteering, impact assessments and financial and programmatic reporting. </p>
                            <p>Over the past 17 years, we have partnered with over 300 companies and over 1,00,000+ individual donors investing close to INR 390 crore for community development projects. Our flagship programmes have been largely in the areas of civic awareness, health, safety and greening. In addition to this, we have designed and facilitated large scale interventions in the areas of education, nutrition and sanitation in urban and rural communities.	</p>
                            <p>United Way Mumbai improves lives by mobilizing the caring power of communities to advance the common good.</p>
                            <p>At the heart of our mission is the belief that we rise or fall together. We all have a stake in the betterment of our community and its members. Our goal is to bring people together - NGOs, companies, individuals and government agencies - to work towards improving community conditions.</p>
                            <p>Based on years of experience and understanding of the Indian development sector, United Way Mumbai has distilled six priority areas for interventions, and created solutions that go beyond short-term charity. These six areas of focus encompass the most pressing social problems of our communities and the solutions are designed to address their root causes.</p>
                            <p>United Way Mumbai envisions a nation where all individuals and families achieve their human potential through education, financial stability and healthy lives.</p>
                            <p>United Way Mumbai galvanizes people and organizations that bring the passion, expertise and resources needed to get things done. We drive campaigns that help leverage corporate, employee and leadership talent. By working collaboratively with our partners, we build coalitions that advance research-based strategies, invite individuals and organizations into meaningful action, and advocate for lasting social change. </p>
                            <br><br>
                             <a href="/ask_for_help">
                <center><button style="color: white;background-color: #007bff;padding: 10px 15px;border: none; border-radius: 20px">Request Services</button></a>
                    <a href = "payment"><button style="color: white;background-color: #007bff;padding: 10px 15px;border: none; border-radius: 20px">Donate</button></center></a>
                     </div>
<br><br><br><br>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!--main js-->
      <script src="{{ url_for('static', filename='js/jquery-1.12.4.min.js')}}"></script>
      <!--bootstrap js-->
      <script src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>
      <script src="{{ url_for('static', filename='js/bootstrap-select.min.js')}}"></script>
      <script src="{{ url_for('static', filename='js/slick.min.js')}}"></script>
      <script src="{{ url_for('static', filename='js/select2.full.min.js')}}"></script>
      <script src="{{ url_for('static', filename='js/wow.min.js')}}"></script>
      <!--custom js-->
      <script src="{{ url_for('static', filename='js/custom.js')}}"></script>
   </body>
</html>