<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <title>Father's need top priority - single page</title>
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!--enable mobile device-->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!--fontawesome css-->
      <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css')}}">
      <!--bootstrap css-->
      <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">
      <!--animate css-->
      <link rel="stylesheet" href="{{ url_for('static', filename='css/animate-wow.css')}}">
      <!--main css-->
      <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-select.min.css')}}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/slick.min.css')}}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/select2.min.css')}}">
      <!--responsive css-->
      <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css')}}">
   </head>
   <body>
      <div class="product-page-main">
         <div class="container">
            <div class="row">
               <div class="col-md-2 col-sm-4">
               </div>
               <div class="col-md-8 col-sm-8">
                  <div class="md-prod-page">
                     <div class="md-prod-page-in">
                        <div class="page-preview">
                           <img src="{{ url_for('static', filename='images/product/5.png')}}">
                        </div>
                        <div class="btn-dit-list clearfix">
                           <div class="left-dit-p">
                              <div class="prod-btn">
                                 <a href="#"><i class="fa fa-star" aria-hidden="true"></i> Save to wishlist</a>
                                 <a href="#"><i class="fa fa-thumbs-up" aria-hidden="true"></i> Like this</a>
                                 <p>23 likes</p>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="description-box">
                        <div class="dex-a">
                           <h4>Description</h4>
                           <p>Goonj envisions to grow as an idea across regions, economies and countries using urban discard as a tool to alleviate poverty and enhance the dignity of the poor in the world. Address basic but neglected issues of the poor by involving them in evolving their own solutions with dignity and urban material as reward.

                           </p>
                            <p>We aim to recognize and value the potential of local resource and traditional wisdom of people.
Our focus is concentrated on the receiver’s dignity instead of the donor’s pride.
We promote circular economy by ensuring maximum use of each material.
We value collaborative efforts with partner organizations to increase effectiveness and scale.
Goonj views every entity as equal stakeholder in the process of development rather than observing hierarchical relationships.

In the race of development we all are too focused on machines i.e. the big and  known issues, ignoring the needles- the most important basic needs.</p>
                            <p>Anshu Gupta is an Indian Social Entrepreneur, awarded Magsaysay Award for his work on transforming the culture of giving in India and for highlighting material as a sustainable development resource for the poor. Popularly known as the Clothing Man, Anshu founded Goonj, offering a sustainable economic model for eliminating poverty and related issues. Under his leadership, Goonj created a barter between urban surplus and village communities labor, triggering large scale rural development work. Anshu has won many national and international honors like Ashoka and Schwab Fellowship, while Forbes Magazine has listed him as one of India’s most powerful rural entrepreneurs.</p>
                            <p>Since 1999, Goonj has built a network of communities from urban to village India, channelizing material as a tool to address crucial gaps in rural infrastructure, water, environment, livelihood, education, health, disaster relief and rehabilitation. Its engagement with both the urban and rural population has galvanized a mass civic participation in addressing basic but neglected issues. Goonj’s model of development implemented through its various Initiatives proposes a more inclusive alternative economy where everyone is an equal stakeholder in the process.</p>
                            <p>Goonj Processing Centers are first point where all material collected from the cities goes through a rigorous process of sorting, segregating, repairing and packing before dispatching it to the remotest villages of India.

Why Processing? Because the dignity of the receiver and giving with dignity is at the center of all that we do.. because when people in remote villages of India work for many days on building a bamboo bridge or digging a well or building a community hall, they deserve a reward… NOT Charity.</p>
                            <br><br>
                             <a href="/ask_for_help">
                <center><button style="color: white;background-color: #007bff;padding: 10px 15px;border: none; border-radius: 20px">Request Services</button></a>
                    <a href = "payment"><button style="color: white;background-color: #007bff;padding: 10px 15px;border: none; border-radius: 20px">Donate</button></center></a>
                     </div>
<br><br><br><br>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!--main js-->
      <script src="{{ url_for('static', filename='js/jquery-1.12.4.min.js')}}"></script>
      <!--bootstrap js-->
      <script src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>
      <script src="{{ url_for('static', filename='js/bootstrap-select.min.js')}}"></script>
      <script src="{{ url_for('static', filename='js/slick.min.js')}}"></script>
      <script src="{{ url_for('static', filename='js/select2.full.min.js')}}"></script>
      <script src="{{ url_for('static', filename='js/wow.min.js')}}"></script>
      <!--custom js-->
      <script src="{{ url_for('static', filename='js/custom.js')}}"></script>
   </body>
</html>