<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <title>Father's need top priority - single page</title>
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!--enable mobile device-->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!--fontawesome css-->
      <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css')}}">
      <!--bootstrap css-->
      <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">
      <!--animate css-->
      <link rel="stylesheet" href="{{ url_for('static', filename='css/animate-wow.css')}}">
      <!--main css-->
      <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-select.min.css')}}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/slick.min.css')}}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/select2.min.css')}}">
      <!--responsive css-->
      <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css')}}">
   </head>
   <body>
      <div class="product-page-main">
         <div class="container">
            <div class="row">
               <div class="col-md-2 col-sm-4">
               </div>
               <div class="col-md-8 col-sm-8">
                  <div class="md-prod-page">
                     <div class="md-prod-page-in">
                        <div class="page-preview">
                           <img src="{{ url_for('static', filename='images/product/4.jpg')}}">
                        </div>
                        <div class="btn-dit-list clearfix">
                           <div class="left-dit-p">
                              <div class="prod-btn">
                                 <a href="#"><i class="fa fa-star" aria-hidden="true"></i> Save to wishlist</a>
                                 <a href="#"><i class="fa fa-thumbs-up" aria-hidden="true"></i> Like this</a>
                                 <p>23 likes</p>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="description-box">
                        <div class="dex-a">
                           <h4>Description</h4>
                           <p>Among the frontlines of India’s battle against corona-virus are waste pickers, who ensure towns and cities are clean and garbage-free.

                           </p>
                            <p>But given the nature of their work, they are also among the communities most vulnerable to infections. Pune-based Kashtakari Panchayat has organised a fundraiser to support nearly 7,000 workers in Pune and the neighbouring Pimpri-Chinchwad.</p>
                            <p>The funds will be used to provide safety kits, consisting of gloves, masks, soaps and sanitizers, and a month’s supply of essentials, like grains, pulses, oil, sugar and tea. “It was necessary because most workers supplement their income by selling scrap," says Lakshmi Narayan, trustee of Kashtakari Panchayat. “But these shops are shut in the ongoing lockdown.</p>
                            <p>The salary from the government is also most likely going to be delayed, which has made their income highly uncertain." So far, the organization has raised INR 8.5 lakhs out of a target of INR 2.5 crore over the past few weeks.</p>
                            <p>While many of us have the liberty of working from home, or suspending work, our city’s waste pickers continue to work tirelessly to keep our city clean and safe. The lockdown has halted the entire informal recycling economy, as scrap shops have been closed down, and this cuts off a major part of their income, leaving most of their family members jobless.</p>
                            <p>3,540 SWaCH waste pickers in Pune, and 580 KKPKP waste pickers in PCMC, provide the essential service of solid waste collection, and are required to continue doing so during this outbreak to prevent worse health and hygiene disasters. These waste pickers collect, transport and sort waste on a daily basis, exposing themselves to waste material from over 10,00,000 households and more than 40,00,000 individuals. This also puts them at a very high risk of infection and transmission of COVID-19.</p>
                            <p>While most of our city’s waste pickers are working hard to keep us safe, others have been left without income and are in dire need of support. The elderly among the waste pickers have been urged to stay home and stop working, making them a vulnerable group critically in need of support. The rest of the citys’ 3000 informal and itinerant waste pickers, who rely solely on the sale of recyclables, have been left without any income during this trying period.</p>
                            <p>After years of contributing to our city’s health, local economies and environmental sustainability, the waste pickers are in an even more vulnerable position, at high risk of infection and in need of support. </p>
                            <p>We are working to provide Personal Protective Equipment and Ration Kits to keep them safe and support their families through these uncertain times. We welcome your contributions towards their health and safety. </p><br><br>
                             <a href="/ask_for_help">
                <center><button style="color: white;background-color: #007bff;padding: 10px 15px;border: none; border-radius: 20px">Request Services</button></a>
                    <a href = "payment"><button style="color: white;background-color: #007bff;padding: 10px 15px;border: none; border-radius: 20px">Donate</button></center></a>
                     </div>
<br><br><br><br>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!--main js-->
      <script src="{{ url_for('static', filename='js/jquery-1.12.4.min.js')}}"></script>
      <!--bootstrap js-->
      <script src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>
      <script src="{{ url_for('static', filename='js/bootstrap-select.min.js')}}"></script>
      <script src="{{ url_for('static', filename='js/slick.min.js')}}"></script>
      <script src="{{ url_for('static', filename='js/select2.full.min.js')}}"></script>
      <script src="{{ url_for('static', filename='js/wow.min.js')}}"></script>
      <!--custom js-->
      <script src="{{ url_for('static', filename='js/custom.js')}}"></script>
   </body>
</html>