{% extends "layout.html"%}
{% block body %}
      <div class="content">
        <div class="row">
          <div class="col-md-12">
            <div class="card ">
              <div class="card-header">
                <h4 class="card-title"> Recent Donations</h4>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table tablesorter " id="">
                    <thead class=" text-primary">
                      <tr>
                        <th>
                          Name
                        </th>
                        <th>
                          Country
                        </th>
                        <th>
                          City
                        </th>
                        <th class="text-center">
                          Donations
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
                          Savitri Jindal
                        </td>
                        <td>
                          India
                        </td>
                        <td>
                          Bhopal
                        </td>
                        <td class="text-center">
                          Rs 35,000
                        </td>
                      </tr>
                      <tr>
                        <td>
                          Kuldip Singh
                        </td>
                        <td>
                          India
                        </td>
                        <td>
                          Jalandar
                        </td>
                        <td class="text-center">
                          Rs 20,000
                        </td>
                      </tr>
                      <tr>
                        <td>
                          Bernard Arnault
                        </td>
                        <td>
                          France
                        </td>
                        <td>
                          Paris
                        </td>
                        <td class="text-center">
                          Rs 56,000
                        </td>
                      </tr>
                      <tr>
                        <td>
                          Warren Buffett
                        </td>
                        <td>
                          USA
                        </td>
                        <td>
                          Washington
                        </td>
                        <td class="text-center">
                          Rs 38,000
                        </td>
                      </tr>
                      <tr>
                        <td>
                          Larry Ellison
                        </td>
                        <td>
                          Spain
                        </td>
                        <td>
                          Madrid
                        </td>
                        <td class="text-center">
                          Rs 63,000
                        </td>
                      </tr>
                      <tr>
                        <td>
                          Mason Porter
                        </td>
                        <td>
                          Chile
                        </td>
                        <td>
                          Gloucester
                        </td>
                        <td class="text-center">
                          Rs 27,000
                        </td>
                      </tr>
                      <tr>
                        <td>
                          Jon Porter
                        </td>
                        <td>
                          Portugal
                        </td>
                        <td>
                          Gloucester
                        </td>
                        <td class="text-center">
                          Rs 29,000
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="card  card-plain">
              <div class="card-header">
                <h4 class="card-title"> Top Donators</h4>
                <p class="category"> Here is a list for the top donators</p>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table tablesorter " id="">
                    <thead class=" text-primary">
                      <tr>
                        <th>
                          Name
                        </th>
                        <th>
                          Country
                        </th>
                        <th>
                          City
                        </th>
                        <th class="text-center">
                          Donations
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
                          Savitri Jindal
                        </td>
                        <td>
                          India
                        </td>
                        <td>
                          Bhopal
                        </td>
                        <td class="text-center">
                          Rs 35,000
                        </td>
                      </tr>
                      <tr>
                        <td>
                          Kuldip Singh
                        </td>
                        <td>
                          India
                        </td>
                        <td>
                          Jalandar
                        </td>
                        <td class="text-center">
                          Rs 20,000
                        </td>
                      </tr>
                      <tr>
                        <td>
                          Bernard Arnault
                        </td>
                        <td>
                          France
                        </td>
                        <td>
                          Paris
                        </td>
                        <td class="text-center">
                          Rs 56,000
                        </td>
                      </tr>
                      <tr>
                        <td>
                          Warren Buffett
                        </td>
                        <td>
                          USA
                        </td>
                        <td>
                          Washington
                        </td>
                        <td class="text-center">
                          Rs 38,000
                        </td>
                      </tr>
                      <tr>
                        <td>
                          Larry Ellison
                        </td>
                        <td>
                          Spain
                        </td>
                        <td>
                          Madrid
                        </td>
                        <td class="text-center">
                          Rs 63,000
                        </td>
                      </tr>
                      <tr>
                        <td>
                          Mason Porter
                        </td>
                        <td>
                          Chile
                        </td>
                        <td>
                          Gloucester
                        </td>
                        <td class="text-center">
                          Rs 27,000
                        </td>
                      </tr>
                      <tr>
                        <td>
                          Jon Porter
                        </td>
                        <td>
                          Portugal
                        </td>
                        <td>
                          Gloucester
                        </td>
                        <td class="text-center">
                          Rs 29,000
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endblock %}