{% extends "layout.html"%}
{% block body %}
      <div class="content">
        <div class="row">
          <div class="col-md-8 ml-auto mr-auto">
            <div class="card card-upgrade">
              <div class="card-header text-center">
                <h4 class="card-title">GET PRO MEMBERSHIP</h4>

              </div>
              <div class="card-body">
                <div class="table-responsive table-upgrade">
                  <table class="table">
                    <thead>
                      <th></th>
                      <th class="text-center">Free</th>
                      <th class="text-center">PRO</th>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Blog Posts</td>
                        <td class="text-center">1 per day</td>
                        <td class="text-center">Unlimited</td>
                      </tr>
                      <tr>
                        <td>Users</td>
                        <td class="text-center">5</td>
                        <td class="text-center">100</td>
                      </tr>
                      <tr>
                        <td>Blog Post Templates</td>
                        <td class="text-center">5</td>
                        <td class="text-center">100</td>
                      </tr>
                      <tr>
                        <td>Get Verification Badge From Team Lorem Ipsum</td>
                        <td class="text-center"><i class="tim-icons icon-simple-remove text-danger"></i></td>
                        <td class="text-center"><i class="tim-icons icon-check-2 text-success"></i></td>
                      </tr>
                      <tr>
                        <td>Be on the top of our homepage</td>
                        <td class="text-center"><i class="tim-icons icon-simple-remove text-danger"></i></td>
                        <td class="text-center"><i class="tim-icons icon-check-2 text-success"></i></td>
                      </tr>
                      <tr>
                        <td>Better Insights</td>
                        <td class="text-center"><i class="tim-icons icon-simple-remove text-danger"></i></td>
                        <td class="text-center"><i class="tim-icons icon-check-2 text-success"></i></td>
                      </tr>
                      <tr>
                        <td>Premium Helpline</td>
                        <td class="text-center"><i class="tim-icons icon-simple-remove text-danger"></i></td>
                        <td class="text-center"><i class="tim-icons icon-check-2 text-success"></i></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td class="text-center">Free</td>
                        <td class="text-center">Just Rs 499</td>
                      </tr>
                      <tr>
                        <td class="text-center"></td>
                        <td class="text-center">
                          <a href="#" class="btn btn-round btn-default disabled">Current Version</a>
                        </td>
                        <td class="text-center">
                          <a target="_blank" href="/payment" class="btn btn-round btn-primary">Upgrade to PRO</a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endblock %}