<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.snapsid.dotquestionmark">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <uses-feature android:name="android.hardware.location.gps" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".activity.RequestFood"></activity>
        <activity android:name=".activity.RequestFood1"></activity>
        <activity android:name=".activity.Login"></activity>
        <activity android:name=".activity.NewCurrent" />
        <activity android:name=".activity.Pledge" />
        <activity
            android:name=".activity.splash"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.newui" />
        <activity android:name=".activity.MainChatActivity" />
        <activity android:name=".activity.MainChatActivity1" />
        <activity android:name=".activity.Abouts" />
        <activity android:name=".activity.Safe" />
        <activity android:name=".activity.Helpline" />
        <activity android:name=".activity.Precautions" />
        <activity android:name=".activity.Fa" />
        <activity android:name=".activity.Faq" />
        <activity android:name=".activity.Quiz" />
        <activity android:name=".activity.Hospital" />
        <activity android:name=".activity.Corona" />
        <activity android:name=".activity.Donate" />
        <activity android:name=".activity.MapsActivity11" />
        <activity android:name=".activity.MapsActivity111" />
        <activity android:name=".activity.MainActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_api_key1" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".MapsActivity"
            android:label="@string/title_activity_maps" />
        <activity android:name=".activity.PlaceDetailsActivity" />
        <activity android:name=".activity.PlaceOnMapActivity" />
        <activity android:name=".activity.ShowPlacesOnMapActivity" />
    </application>

</manifest>